---
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/Footer.astro";
import SweatShirts from "@/components/SweatShirts.astro";
import Tshirts from "@/components/Tshirts.astro";
import FeaturedClothing from "@/components/FeaturedClothing.astro";
---

<Layout>
  <main>
    <FeaturedClothing />
    <SweatShirts />
    <Tshirts />
  </main>
  <Footer />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
