---
import BaseLayout from "@/layouts/BaseLayout.astro";
import FeaturedClothing from "@/components/FeaturedClothing.astro";
import ProductSwiper from "@/components/ProductSwiper.astro";
import { getTshirtsFromDb, getSweatShirtsFromDb } from "@/api/querysFromDb";

const tshirts = await getTshirtsFromDb();
console.log("🚀 ~ tshirts:", tshirts)
const sweatshirts = await getSweatShirtsFromDb();
console.log("🚀 ~ sweatshirts:", sweatshirts)
---

<BaseLayout pageTitle="Home">
  <main>
    <FeaturedClothing />
    <ProductSwiper products={sweatshirts} titlePage="Polerones" />
    <ProductSwiper products={tshirts} titlePage="Poleras" />
  </main>
</BaseLayout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
