---
import Section from "@/components/Section.astro";
---

<Section>
  <!--Swiper -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          src="https://mnntrmrwimkrypgfmcww.supabase.co/storage/v1/object/public/bsheep-bucket/ropa%20destacada/duo-polera-blanca.jpg"
          alt="duo-polera-blanca"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="https://mnntrmrwimkrypgfmcww.supabase.co/storage/v1/object/public/bsheep-bucket/ropa%20destacada/espalda-polera-negra-bsheep.jpg"
          alt="espalda-polera-negra-bsheep"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="https://mnntrmrwimkrypgfmcww.supabase.co/storage/v1/object/public/bsheep-bucket/ropa%20destacada/polera-negra-bsheep.jpg"
          alt="polera-negra-bsheep"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="https://mnntrmrwimkrypgfmcww.supabase.co/storage/v1/object/public/bsheep-bucket/ropa%20destacada/trio-polerones-poleras.jpg"
          alt="trio-polerones-poleras"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="https://mnntrmrwimkrypgfmcww.supabase.co/storage/v1/object/public/bsheep-bucket/ropa%20destacada/zoom-poleron-verde.jpg"
          alt="zoom-poleron-verde"
        />
      </div>
    </div>
    <!-- Botones de navegación -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
  </div>
  <script>
    import "swiper/css";
    import "swiper/css/pagination";

    import Swiper from "swiper";
    import {Pagination } from "swiper/modules";

    var swiper = new Swiper(".mySwiper", {
      cssMode: true,
      modules: [Pagination],
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
      },
      loop: true,
      slidesPerView: 1,
      spaceBetween: 20,
      breakpoints: {
        640: { slidesPerView: 2, spaceBetween: 20 },
        1024: { slidesPerView: 3, spaceBetween: 30 },
      },
    });
  </script>
</Section>

<style>
  img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 6px;
  }

  .swiper {
    width: 100%;
    padding: 20px 0;
    position: relative;
  }

  .swiper-wrapper {
    display: flex;
    align-items: center;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  /* Paginación */
  .swiper-pagination {
    position: relative;
    bottom: -10px;
    
  }

  /* Botones de navegación */
  .swiper-button-prev,
  .swiper-button-next {
    color: white;
    font-size: 20px;
  }
</style>
