---
import Section from "@/components/Section.astro";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import { getImageUrlFromPublicBucket } from "@/api/getImagesFromBucket";

// const link = await getImageUrlFromPublicBucket("/black logo bsheep.png");
---

<Section>
  <!--Swiper -->
  <div class="swiper featuredClothingSwiper">
    <!-- Wrapper para las diapositivas -->
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/featured clothing/1.jpg" alt="Slide 1" />
      </div>
      <div class="swiper-slide">
        <img src="/featured clothing/2.jpg" alt="Slide 2" />
      </div>
      <div class="swiper-slide">
        <img src="/featured clothing/3.jpg" alt="Slide 3" />
      </div>
      <div class="swiper-slide">
        <img src="/featured clothing/4.jpg" alt="Slide 4" />
      </div>
      <div class="swiper-slide">
        <img src="/featured clothing/5.jpg" alt="Slide 5" />
      </div>
    </div>
    <!-- Controles de navegación -->
    <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->

    <!-- Paginación -->
    <div class="swiper-pagination"></div>
  </div>
  <script>
    import Swiper from "swiper";
    import { Pagination } from "swiper/modules";

    new Swiper(".featuredClothingSwiper", {
      modules: [Pagination],
      pagination: {
        el: ".swiper-pagination",
        dynamicBullets: true,
      },
    });
  </script>
</Section>

<style>
  .swiper {
    width: 100%;
    height: 200px;
    margin: 0 auto;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #000;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
