---
import Section from "@/components/Section.astro";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import SkeletonCard from "@/components/SkeletonCard.astro";
---

<Section>
  <!--Swiper -->
  <div class="swiper featuredClothingSwiper">
    <!-- Wrapper para las diapositivas -->
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          src="https://mnntrmrwimkrypgfmcww.supabase.co/storage/v1/object/public/bsheep-bucket/ropa%20destacada/duo-polera-blanca.jpg"
          alt="duo-polera-blanca"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="https://mnntrmrwimkrypgfmcww.supabase.co/storage/v1/object/public/bsheep-bucket/ropa%20destacada/espalda-polera-negra-bsheep.jpg"
          alt="espalda-polera-negra-bsheep"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="https://mnntrmrwimkrypgfmcww.supabase.co/storage/v1/object/public/bsheep-bucket/ropa%20destacada/polera-negra-bsheep.jpg"
          alt="polera-negra-bsheep"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="https://mnntrmrwimkrypgfmcww.supabase.co/storage/v1/object/public/bsheep-bucket/ropa%20destacada/trio-polerones-poleras.jpg"
          alt="trio-polerones-poleras"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="https://mnntrmrwimkrypgfmcww.supabase.co/storage/v1/object/public/bsheep-bucket/ropa%20destacada/zoom-poleron-verde.jpg"
          alt="zoom-poleron-verde"
        />
      </div>
      <SkeletonCard />
    </div>
    <!-- Controles de navegación -->
    <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->

    <!-- Paginación -->
    <div class="swiper-pagination"></div>
  </div>
  <script>
    import Swiper from "swiper";
    import { Pagination } from "swiper/modules";

    new Swiper(".featuredClothingSwiper", {
      modules: [Pagination],
      pagination: {
        el: ".swiper-pagination",
        type: "progressbar",
      },
      loop: true,
    });
  </script>
</Section>

<style>
  /* .skeleton-card {
    width: 100%;
    height: 100%;
    background-color: gray;
  } */

  .swiper {
    width: 100%;
    height: 200px;
    margin: 0 auto;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #000;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
