---
import Section from "@/components/Section.astro";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
---

<Section>
  <body>
    <section class="my-swiper">
      <div class="swiper">
        <!-- Wrapper para las diapositivas -->
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="/featured clothing/1.jpg" alt="Slide 3" />
          </div>
          <div class="swiper-slide">
            <img src="/featured clothing/2.jpg" alt="Slide 3" />
          </div>
          <div class="swiper-slide">
            <img src="/featured clothing/3.jpg" alt="Slide 3" />
          </div>
          <div class="swiper-slide">
            <img src="/featured clothing/4.jpg" alt="Slide 3" />
          </div>
          <div class="swiper-slide">
            <img src="/featured clothing/5.jpg" alt="Slide 3" />
          </div>
        </div>

        <!-- Controles de navegación -->
        <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->

        <!-- Paginación -->
        <div class="swiper-pagination"></div>
      </div>
    </section>

    <!-- Script para inicializar Swiper -->
    <script>
      import Swiper from "swiper";
      import { Navigation, Pagination } from "swiper/modules";

      new Swiper(".swiper", {
        modules: [Navigation, Pagination],
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          dynamicBullets: true,
        },
        centeredSlides: true,
        autoplay: {
          delay: 1500,
          disableOnInteraction: false,
        },
      });
    </script>

    <style>
      .swiper {
        width: 100%;
        height: 200px;
        margin: 0 auto;
      }

      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f0f0f0;
        border-radius: 8px;
        overflow: hidden;
      }

      .swiper-button-prev,
      .swiper-button-next {
        color: #000;
      }

      .swiper-pagination-bullet {
        background-color: #000 !important;
      }
    </style>
  </body>
</Section>

<style>
  /* .swiper {
    width: 100%;
    height: 100%;
  } */

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
