---
import CartIcon from "@/icons/CartIcon.astro";
import Hamburger from "@/components/Hamburger.astro";
---

<nav>
  <div class="container">
    <a href="/">
      <img
        src="https://mnntrmrwimkrypgfmcww.supabase.co/storage/v1/object/public/bsheep-bucket/logos/black%20logo%20bsheep.png"
        alt="Bsheep Logo Dark"
      />
    </a>
    <div class="icons">
      <button class="btn-cart">
        <CartIcon />
      </button>
      <!-- <Hamburger /> -->
    </div>
  </div>
</nav>

<style>
  .btn-cart {
    border: none;
    background-color: transparent;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  .icons {
    display: flex;
  }
  @media (width <= 700px) {
    img {
      width: 100px;
    }

    .icons {
      gap: 10px;
      margin-right: 20px;
    }
  }
</style>
