---
import CartIcon from "@/icons/CartIcon.astro";
import MenuIcon from "@/icons/MenuIcon.astro";
import Hamburger from "@/components/Hamburger.astro";
---

<nav>
  <div class="container">
    <img src="/logos/black logo bsheep.png" alt="Bsheep Logo Dark" />
    <div class="icons">
      <CartIcon />
      <Hamburger />
    </div>
  </div>
</nav>

<style>
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }

  .icons {
    display: flex;
  }
  @media (width <= 700px) {
    img {
      width: 100px;
    }

    .icons {
      gap: 10px;
    }
  }
</style>
