---
import Section from "@/components/Section.astro";
import ProductCard from "@/components/ProductCard.astro";
import { getCategoryName } from "@/api/querysFromDb";
import type { Product } from "@/types/Product";


const { products, titlePage } = Astro.props;

const productsWithCategories = await Promise.all(
  products.map(async (product: Product) => {
    const categoryName = await getCategoryName(product.category_id);
    return { ...product, categoryName };
  })
);
---

<Section title={titlePage}>
  <div class="swiper productSwiper">
    <div class="swiper-wrapper">
      <!--Slides -->
      {
        Array.isArray(products) &&
          productsWithCategories.map((product) => (
            <div class="swiper-slide">
              <ProductCard
                product={product}
                categoryName={product.categoryName}
                server:defer
              />
            </div>
          ))
      }
    </div>
    <!-- Botones de navegación -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</Section>
<!-- Script para inicializar Swiper -->
<script>
  
  import Swiper from "swiper";
  import { Navigation, Pagination } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/navigation";
  import "swiper/css/pagination";

  new Swiper(".productSwiper", {
    modules: [Pagination, Navigation],
    cssMode: true,
    pagination: {
      el: ".swiper-pagination",
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    loop: true,
    slidesPerView: 1,
    spaceBetween: 20,
    breakpoints: {
      640: { slidesPerView: 2, spaceBetween: 20 },
      1024: { slidesPerView: 2, spaceBetween: 30 },
    },
  });
</script>

<style>
  .swiper {
    width: 100%;
    padding: 20px 0;
    position: relative;
  }

  .swiper-wrapper {
    display: flex;
    align-items: center;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  /* Pagination */
  .swiper-pagination {
    position: relative;
    bottom: -10px;
  }

  .swiper-pagination-bullet {
    background: black;
    opacity: 0.6;
  }

  .swiper-pagination-bullet-active {
    background: black;
    opacity: 1;
  }

  /* Botones de navegación */
  .swiper-button-prev,
  .swiper-button-next {
    color: black;
    font-size: 20px;
  },

</style>
