---
import Section from "@/components/Section.astro";
import ProductCard from "@/components/ProductCard.astro";
import { getCategoryName } from "@/api/querysFromDb";
import type { Product } from "@/types/Product";

const { products, titlePage } = Astro.props;

const productsWithCategories = await Promise.all(
  products.map(async (product: Product) => {
    const categoryName = await getCategoryName(product.category_id);
    return { ...product, categoryName };
  })
);
console.log("🚀 ~ productsWithCategories:", productsWithCategories);
---

<Section title={titlePage}>
  <div class="swiper">
    <div class="swiper-wrapper">
      <!--Slides -->
      {
        Array.isArray(products) &&
          productsWithCategories.map((product) => (
            <div class="swiper-slide">
              <ProductCard
                product={product}
                categoryName={product.categoryName}
              />
            </div>
          ))
      }
    </div>
    <div class="swiper-pagination"></div>
  </div>
</Section>
<!-- Script para inicializar Swiper -->
<script>
  import "swiper/css";
  import Swiper from "swiper";
  import { Pagination } from "swiper/modules";

  new Swiper(".swiper", {
    modules: [Pagination],
    pagination: {
      el: ".swiper-pagination",
      type: "progressbar",
    },
    loop: true,
  });
</script>

<style>
  .swiper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background: #fff;
  }
</style>
