---
import PlusIcon from "@/icons/PlusIcon.astro";
---

<button>
  <PlusIcon />
  <span>Comprar</span>
</button>
<style>
  button {
    background-color: #000;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
  }
</style>
