---
import Section from "@/components/Section.astro";
import { db, eq, Products, Categories } from "astro:db";
const sweatshirtList = await db
  .select()
  .from(Products)
  .innerJoin(Categories, eq(Categories.id, Products.category_id))
  .where(eq(Categories.name, "polerones"));

console.log("🚀 ~ sweatshirtList:", sweatshirtList);
---

<Section title="Polerones">
  <div class="swiper sweatshirtSwiper">
    <div class="swiper-wrapper">
      <!--Slides -->

      {
        sweatshirtList.map(({ Products, Categories }) => {
          return (
            <div class="swiper-slide">
              <img src={Products.image} alt={Products.name} />
            </div>
          );
        })
      }
    </div>
    <div class="swiper-pagination"></div>
  </div>
</Section>
<!-- Script para inicializar Swiper -->
<script>
  import Swiper from "swiper";
  import { Pagination } from "swiper/modules";

  new Swiper(".sweatshirtSwiper", {
    modules: [Pagination],
    pagination: {
      el: ".swiper-pagination",
      dynamicBullets: true,
    },
    loop: true,
  });
</script>

<style>
  .swiper {
    width: 100%;
    height: 200px;
    margin: 0 auto;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background: #fff;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
</style>
