---
import Section from "@/components/Section.astro";
import { getTshirtsFromDb } from "@/api/querysFromDb";
import ProductCard from "@/components/ProductCard.astro";

const tshirtList = await getTshirtsFromDb();
---

<Section title="Poleras">
  <div class="swiper tshirtSwiper">
    <div class="swiper-wrapper">
      <!--Slides -->
      {
        tshirtList.map(({ Products, Categories }) => {
          return (
            <div class="swiper-slide">
              <ProductCard
                product={{
                  ...Products,
                  description: Products.description ?? "",
                }}
                server:defer
              />
            </div>
          );
        })
      }
    </div>
    <div class="swiper-pagination"></div>
  </div>
</Section>
<!-- Script para inicializar Swiper -->
<script>
  import Swiper from "swiper";
  import { Pagination } from "swiper/modules";

  new Swiper(".tshirtSwiper", {
    modules: [Pagination],
    pagination: {
      el: ".swiper-pagination",
      type: "progressbar",
    },
    loop: true,
  });
</script>

<style>
  .swiper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background: #fff;
  }
</style>
